#include <windows.h>
#include "res.h"

RID_ICON ICON "icon.ico"

RID_FIND DIALOG LOADONCALL MOVEABLE DISCARDABLE 36, 44, 230, 94
STYLE WS_BORDER | WS_CAPTION | DS_MODALFRAME | WS_POPUP | WS_SYSMENU | DS_3DLOOK
CAPTION "Find And Replace"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Find what:", -1, 4, 9, 48, 8
    EDITTEXT RID_FIND_WHAT, 54, 7, 114, 12, WS_GROUP | WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "&Replace with:", -1, 4, 26, 48, 8
    EDITTEXT RID_FIND_WITH, 54, 24, 114, 12, WS_GROUP | WS_TABSTOP | ES_AUTOHSCROLL
    AUTOCHECKBOX "Match &case", RID_FIND_CASE, 5, 46, 59, 12
    PUSHBUTTON "Find &Up", RID_FIND_UP, 174, 4, 50, 14, WS_GROUP
    PUSHBUTTON "Find &Down", RID_FIND_DOWN, 174, 21, 50, 14, WS_GROUP
    PUSHBUTTON "&Replace", RID_REPLACE, 174, 38, 50, 14
    PUSHBUTTON "Replace &All", RID_REPLACE_ALL, 174, 55, 50, 14
END

1 VERSIONINFO
FILEVERSION VERSION_DIGITALVALUE
PRODUCTVERSION VERSION_DIGITALVALUE
FILEFLAGSMASK 0x3fL
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE    "CompanyName",        "Dark Software\0"
            VALUE    "FileDescription",    "DarkPad\0"
            VALUE    "FileVersion",        VERSION_VALUE
            VALUE    "InternalName",       "darkpad.exe\0"
            VALUE    "LegalCopyright",     "cc0\0"
            VALUE    "OriginalFilename",   "darkpad.exe\0"
            VALUE    "ProductName",        "DarkPad\0"
            VALUE    "ProductVersion",     VERSION_VALUE
        END
    END
END
